@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.985 0.005 260);
  --foreground:  oklab(29.747% 0.00263 -0.03318);

  --card: oklch(1 0 0);
  --card-foreground:  oklab(29.747% 0.00263 -0.03318);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary:  oklab(29.747% 0.00263 -0.03318);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(78.973% 0.0011 12.701);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);

  --border: oklch(0.92 0.01 260);
  --input: oklch(0.92 0.01 260);
  --ring: oklch(0.708 0 0);

  --radius: 0.625rem;

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklab(29.747% 0.00263 -0.03318);
  
  --foreground: oklch(93.893% 0.00639 255.742);

  --card:  oklab(37.739% 0.00319 -0.04526 / 0.452);
  --card-foreground: oklch(0.98 0.01 260);

  --popover: oklch(0.17 0.03 260);
  --popover-foreground: oklch(0.98 0 0);

  --primary: oklch(0.98 0 0);
  --primary-foreground: oklch(0.14 0.02 260);

  --secondary: oklch(0.25 0.04 260);
  --secondary-foreground: oklch(0.98 0 0);

  --muted: oklch(0.2 0.04 260);
  --muted-foreground: oklch(75.95% 0.03408 258.412);

  --accent: oklch(0.25 0.04 260);
  --accent-foreground: oklch(0.98 0 0);

  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.985 0 0);

  --border: oklch(27.587% 0.04094 260.336);
  --input: oklch(0.2 0.04 260);
  --ring: oklch(0.5 0.04 260);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.1 0.03 260);
  --sidebar-foreground: oklch(0.98 0.01 260);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.98 0.01 260);
  --sidebar-accent: oklch(0.14 0.04 260); /* Color al hacer hover */
  --sidebar-accent-foreground: oklch(0.98 0.01 260);
  --sidebar-border: oklch(0.2 0.04 260);
  --sidebar-ring: oklch(0.5 0.04 260);
}
